


html, body {
  margin: 0; /* Remove default margin */
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;


}

/*net for start*/
body{
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
  grid-template-areas: 
  "header header header" /* Row 1 */
    "main main main"      /* Row 2 */
    "footer footer footer"; /* Row 3 - Footer at the bottom */
  background-color: white;
    min-height: 100dvh; /* fixes iOS Safari viewport height */
  margin: 0;


}

/*ALL BODY grid sizes for all HTMLS DATOR*/
body.crankmode > main:nth-child(1) {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(200px, auto); /* each new row is at least 100px tall */
}

body.rumpanbar > main:nth-child(2){
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(200px, auto); /* each new row is at least 100px tall */
}

body.index > .indexy{
  grid-area: main;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(500px, auto); /* each new row is at least 100px tall */

}
body.motiondesign > .motiondesigny{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(200px, auto); /* each new row is at least 100px tall */
}

body.graphicdesign > .graphicdesigny{
    display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(200px, auto); /* each new row is at least 100px tall */
}

body.graphicdesign .casetitle{
  grid-row:1;
  height: fit-content;
}

body.graphicdesign .casemiddle{
  grid-row:2;
  height: fit-content;
}


body.motiondesign .casetitle{ 
  grid-row:auto;
  height: fit-content;
  padding-top: 15%;
  padding-bottom: 10%;
}

body.motiondesign .casemiddle{ 
  grid-row: auto;
  height: fit-content;
  overflow-y: clip;
  padding-bottom: 50dvh;
}

body.motiondesign .casemiddle div:nth-child(1){
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2%;
  left: 6%;
}

body.motiondesign p.title-item{
grid-column: 3 /20;
}

body.motiondesign .casemiddle div:nth-child(3){
  margin-top: 0;
}

body.motiondesign div.middle-item:nth-child(4){
  margin-top: 0;
}


/*GRAPHIC DESIGN DATOR*/

.image-gallery{
  display: block;
  width: 100vw;
  height: 50vw;
}

.image-menu{
 display: flex;
  width: 86vw;
  gap: 1.5vw;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-around;
}

body.graphicdesign .middle-item img{
  max-width: 200%;
  height: 27vw;
  width: 27vw;
}

.image-object{
  width: 22vw;
  height: fit-content;
  display: flex;
}

.image{
  object-fit: cover;
 width: 40vw;
  height: 30vw;
}

body.graphicdesign div.middle-item:nth-child(3){
  margin-top: 0;
}


body.graphicdesign div.middle-item:nth-child(4){
  margin-top: 0;
}


/*FOOTER DATOR mode*/
footer{
display:block;
position: relative;
grid-area: footer;
background-color: black;
text-align: center;
width: 100%;
}


#brandy{
  font-family: "new-science", sans-serif;
  color: var(--logo-color);
  font-size: 1.5vw;
  max-width: 100%;
  display: inline-flex;
  width: 14vw;
  margin-left: 2.0vw;
height: 5vw;
}

/*nav*/

header{
display: grid;
grid-area: header;
width: 100vw;
left: 0;
height: 5vw;

z-index: 5;}

.navbar li{
  list-style: none;
}

.navbar a{
color: white;
text-decoration: none}

.navbar{
  z-index: 10;
  display: flex;
  position: fixed;
  height: 5vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(5px);
}

.nav-menu{
left: 73%;
  font-family: "new-science", sans-serif;
  font-weight: 700;
  font-style: normal;
font-size: 1.0vw;
top: -5%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 20vw;
  align-items: center;
  padding: 1vw;
  gap: 0vw;
}

#nav-branding{
display: flex;
position: relative;
left: 5%;
height: 5vw;
width: 20vw;
}


.nav-link{
  transition: 0.4s ease;
}


.nav-link:hover{
color: #0db4e5;
}

.hamburger{
  display: none;
  margin-top: 0vw;
  cursor: pointer;
}

.bar{
  display: block;
  width: 20vw;
  height: 3vw;
  margin: 2vw auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}


.project-container{
  display: grid;
  position: relative;
  grid-row: 3;
top: -30%;
  width: fit-content;
  backdrop-filter: blur(4px);
  background-color: var(--logo-color);
  border-radius: 2vw;
 background-blend-mode: normal;
  transition: all ease 0.8s;
}

.project-menu{
  margin: 0;
  position: relative;
  display: flex;
  width: 86vw;
  height:fit-content;
 flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;


}


.welcome-container{
  display: block;
  position: fixed;
  grid-row: 1;
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: hidden;
  transition: ease-in-out .1s;
  opacity: 1;
}

#animation-container{
  display: flex;
  position: relative;
  width: 70%;
  top: -60%;
  left: 9%;
  height: auto;
  z-index: -2;
transform:scale(1.5);
opacity: 1;
transition: ease-in-out .1s;

}

#overlay-container{
  display: grid;
top: 0;
width: 100%;
height: 100vh;
  mix-blend-mode:difference; /*luminosity, overlay, saturation, hard-light*/
  opacity: 0%;
  transition: ease-in-out 0.5s;
}

video.layer{
  object-fit: cover;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

#scrollery{
display: inline-block;
position: absolute;
width: 30%;
top: 87%;
left: 40%;
height: fit-content;
mix-blend-mode: difference;
backdrop-filter: blur(8px);
width: fit-content;
z-index: 99;
}

#scrollery:hover{
  cursor: pointer;
}

#Polygon_1{
  
  fill: var(--logo-color);
  stroke: var(--logo-color);
  stroke-width: 4px;
}

:root{
  --logo-color: #5D16E3;
  --font-family:  "new-science", sans-serif;
}

/*INTRODUCTION design*/
#introduction{
  position: relative;
  font-family: var(--font-family);
  color:white;
  font-size: 3.3vw;
left: 30%;
top: 13%;
  width: 63%;
}

/*DESIGNBYSANIA color*/
html body main div.welcome-container div#animation-container svg g{
  fill: var(--logo-color);
}

/*BALL color*/
html body main div.welcome-container div#animation-container svg g g g path{
fill:  var(--logo-color);}

/*LINE color*/
html body main div.welcome-container div#animation-container svg g g g path{
 stroke: var(--logo-color);
}

.object-item{
display: block;
width: 27vw;
height: auto;
position: relative;
}


.imagez{
  display: flex;
margin-top: 0 auto;
  position: relative;
  width: 27vw;
  height: 15vw;
  object-fit: cover;
  transition: all ease 0.3s;
  filter: blur(0vw);
}

.project-container .project-menu .object-item:hover img{
  filter: blur(0.1vw);
}


.text{ 
  display:block;
  width: 27vw;
  height: 15vw;
  text-align: center;
  position: relative;
  font-family: "new-science", sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 1.5vw;
  color: white;
  list-style: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.43);
  transition: all ease 0.3s;
  opacity: 0;
} 

.captionunder{
    font-family: "new-science", sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 1.5vw;
}

.lottie{
  display: block;
  position: relative;
}

.video{
  display: block;
position: relative;
  width: 100%;
  height: auto;

}

.animationvideo{
  display: block;
position: relative;
  width: 100%;
  height: auto;

}


a.object-link{
  display: block;
  position: absolute;
  text-decoration: none;
  text-align: center;
  align-content: center;
width: 27vw;
height: 15vw;
color: white;
}

.text:hover{
  opacity: 100%;
  transition-property: "opacity";
}


/*ABOUT ME DATOR*/
.frameandtextcontainer{
  display: flex;
  width: 100vw;
  position: relative;
  height: 30vw;
  justify-content: center;
  top: 26%;
}

.frameandtextmenu{
  display: flex;
  width: 80vw;
  height: 30vw;
  justify-content: space-evenly;
}

.aboutme{
  display: block;
color: black;
font-family: 'new-science', sans-serif;
}

.heyitsme{
  position: relative;
  font-size: 3.5vw;
  font-weight: bolder;
    display: flex;
color: var(--logo-color);
font-family: 'new-science', sans-serif;
}

#aboutmeframe{
  display: flex;
  width: 40vw;
  height: 40vw;
  grid-row: 4;
}


#contactinfo{
text-decoration: none;
text-align: center;
font-family: "new-science", sans-serif;
font-weight: 700;
font-style: normal;
margin-left: 0vw;
padding: 5vw;
font-size: 1em;
color: var(--logo-color);
}


/*3D DESIGN HTML DATOR*/

body.threeddesign .casemiddle div:nth-child(1){
  display: block;
  justify-content: space-around;
  gap: 3vw;
  height: 41vw;
  position: relative;
  left: 1%;
  width: 50vw;
}

body.threeddesign > main:nth-child(1){
  grid-area: main;
flex: 1;
}

body.threeddesign .casemiddle{
  display: relative;
  height:190vw;
}

body.threeddesign div.threedobject:nth-child(1) > div:nth-child(1) > a:nth-child(1) > img:nth-child(1){
  width: 57vw;

}

body.threeddesign .middle-item img{
  max-width: 140%;
}


body.threeddesign div.title-item:nth-child(2){
  color: black;
  font-family: arial;
  font-size: 0.9em;
grid-row: 4;
grid-column: 3/24;
}

/*THESIS design DATOR*/

body.thesis div.title-item > h1:nth-child(1){
  width: 100vw;
}

body.thesis p.title-item{ 
  font-family: var(--font-family);
  flex-wrap: wrap;
}

.foressay{
  margin-top: 3vw;
}


/*RUMPANBAR DATOR*/

.casetitle{
  margin: 0;      /* Remove unwanted margins */
  padding: 0;     /* Remove extra padding */
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / -1;
  grid-row: 1;
  color: #fff;
  padding-top: 15%;
  padding-bottom: 10%;
  background-color:#F7F7F7;
  width: 100vw;
  height: fit-content;
}


.casemiddle{
  margin: 0;      /* Remove unwanted margins */
  padding: 0;     /* Remove extra padding */
  display: grid;
grid-template-columns: repeat(25, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / -1;
  grid-row: 2;
  background-color: #e6e6e6;
  align-items: start;

}

.middle-item img{
  max-width: 100%; /* Prevent images from exceeding the container width */
  height: auto;    /* Maintain aspect ratio */
  display: block; 
 margin-top: 0;
}

.final-item img{
  max-width: 100%;
  height: auto;   /* Maintain aspect ratio */
  display: block; 
 margin-top: 2vw;
}

.casefinal{
  margin: 0;      /* Remove unwanted margins */
  padding: 0;     /* Remove extra padding */
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / -1;
  grid-row: 3;
  background-color: #d6d6d6;
}


.casetitle div:nth-child(1){
  grid-row: 1;
  display: block;
  grid-column: 3 / 10;
  grid-row: 3;
  color: black;
  font-family: "new-science", sans-serif;
  font-weight: 500;
  font-size: 3.3vw;
  height:fit-content;
}

div.title-item:nth-child(1) > h1:nth-child(1){
  display: block;
  width: 100%;
  height: auto;
  grid-column: 3/7;
  grid-row: 5;
  font-size: 3.5vw;
margin: 0;
}

.casetitle > p:nth-child(2){
  grid-column: 3 / span 12;
  grid-row: 4;
  display: flex;
  color: black;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  margin: auto;
}

.casemiddle div:nth-child(1){
 display: block;
 max-width: 100%;
 height: auto;
 grid-column: 3/ 13;
 grid-row: 2/3;
}


.casemiddle div:nth-child(2){
  display: block;
  max-width: 100%;
  grid-column: 14 / 24;
  grid-row: 2 / 7;
  margin-top: 0;

}
div.title-item:nth-child(2){
  display: block;
  grid-column: 3 / 14;
  height: auto;
  max-width: 100%;
  grid-row: 3/ 8;
}

div.middle-item:nth-child(2) > p:nth-child(1){
  grid-column: 14 / 24;
  grid-row: 1 / 20;
  color: black;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1.5vw;
  margin-top: 0;
}


 body.about .casemiddle div:nth-child(3){
  display: block;
  max-width: 100%;
  height: auto;


 }

 div.middle-item:nth-child(4){
  grid-column: 3 / 13;
  grid-row: 2;
  color: black;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1.5vw;
  margin-top: 36.7vw;
}



div.final-item:nth-child(3){
  display:block;
  width: 52vw;
  max-width: 100%;
  height: auto;
  grid-row: 3;
  grid-column: 7/20;
  margin-bottom: 5vw;
}

.del3{
  grid-row: 3;
  display: block;
  color: #fff;
  font-family: "new-science", sans-serif;
  font-weight: 700;
  font-size: 4vw;
}


body.rumpanbar div.final-item:nth-child(1){
  display: block;
  grid-column: 3/23;
}
body.rumpanbar div.final-item > p {
  color: black;
  font-family: arial;
  font-size: 1em;
}

body.rumpanbar div.final-item:nth-child(2){
  display: block;
  grid-column: 3/24;
  padding-bottom: 20%;
}

/*CRANK MODE / CRANKMODE DATOR*/

body.crankmode div.middle-item:nth-child(1){ 
  display: block;
  max-width: 100%;
  height: auto;
  grid-column: 14/24;
  grid-row: 2/3;
}

body.crankmode div.middle-item:nth-child(2){
  display: block;
  max-width: 100%;
  grid-column: 3 / 13;
  grid-row: 2 / 7;
  margin-top: 0;
}

body.crankmode div.middle-item:nth-child(4){
  grid-column: 3 / 13;
  grid-row: 2;
  color: black;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1.5vw;
  margin-top: 13vw;
}

body.crankmode div.middle-item:nth-child(5){
  grid-column: 3 / 23;
  grid-row: 2;
  color: black;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1.5vw;
  margin-top: 38vw;
}

body.crankmode div.middle-item:nth-child(3){
  display: block;
  max-width: 100%;
  height: auto;
  grid-column: 3 / 24;
  grid-row: 2;
  margin-top: 49vw;
}

body.crankmode div.final-item:nth-child(2){
  display: block;
  max-width: 100%;
  grid-row: 3 / 7;
  grid-column: 3/20;
  margin-top: 0;
  height: fit-content;
}

body.crankmode div.final-item:nth-child(1){
  display: block;
  max-width: 100%;
  max-height: 100%;
height: fit-content;
  width: auto;
  grid-column: 3/24;
  grid-row: 1/ 3;
  color: black;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
}

body.crankmode div.final-item:nth-child(3){
  display: block;
  max-width: 100%;
  grid-column: 12 / 24;
  grid-row: 3 / 7;
height: fit-content;
}

/*MOTION DESIGN DATOR*/

.video-gallery{
  display:flex;
  width: 80vw;
  height: fit-content;
}

.video-menu{
  position: relative;
  display:flex;
  justify-content: space-around;
  width: fit-content;
  height: fit-content;
}

.video-object{
display: flex;
object-fit: cover;
width: 35vw;
height: 20vw;
}

body.motiondesign div.title-item:nth-child(2){
  display: block;
  color: black;
  font-family: arial;
  grid-column: 3/24;
  grid-row: 4;
}

body.motiondesign footer{
  display:block;
  position: relative;
  grid-area: footer;

text-align: center;
width: 100%;
}

/*UNDER CONSTRUCTION TEXT*/
#construct{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  left: 20%;
  position: absolute;
  top: -4%;
  width: fit-content;
}


  body.crankmode div.casemiddle {
    grid-column: unset !important;
    grid-row: unset !important;
    width: 100vw;
  } 

/*OFFICIELL STORLEK FÖR IPHONE*/
@media only screen and (max-width: 800px)  {
  

/*INDEX AND HOME MOBILE*/
body{
  display: flex;
  position: relative;
  flex-direction: column;
min-height: 100vh;   /* fallback */
  min-height: 100dvh;  /* modern browsers, dynamic viewport */}



body.index > .indexy{ /*alltså MAIN för index*/
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(120dvh, auto); /* each new row is at least 200 tall */

}


footer{
  position: relative;
  margin-top: auto;
}
  
.hamburger{
  position: absolute;
  display: block;
  top: 2vw;
  right: 5vw;
  z-index: 1000; /* on top of everything */
}


.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8vw) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-2vw) rotate(-45deg);
}

#nav-branding{ 
  width: 26%;
}


header{
  height:41%;

}
.navbar{
  height:15%;
  width: 100dvw;
}

.nav-menu {
  margin-left: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;        /* hidden offscreen initially */
  height: 100dvh;           /* iOS-safe viewport height */
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;         /* scroll menu if content is tall */
  transition: left 0.3s ease;
  z-index: 999;             /* below hamburger but above content */
}

.nav-item{
  font-size: 7vw;
  margin: 0vw;
}


.nav-menu.active{
  left: -100%;
}

.nav-link{
  justify-content: center;
  align-items: center;
  display: flex;
}

  #scrollery{
display: block;
position: relative;
top: -50%;
left: 30%;
width: fit-content;
height: auto;
mix-blend-mode: difference;
backdrop-filter: blur(8px);
z-index: 99;
}

.welcome-container{
  height: 100dvh;
  width: 100dvw;
  grid-row: unset;
}

.project-container{
height: auto;
width:100dvw;
grid-row:unset;
top: 0;
}


#introduction{
  display: block;
  position: relative;
  top: 20dvh;
height: fit-content;
  font-size: 1.3em;

}

.project-container{
  grid-row: 2;
  left: 0%;
  display: block;
}

#brandy{
  display: block;
  position: absolute;
  font-size: 3vw;
  left: 2vw;
top: 3vh;
width: 100%;

}

#brandy > p:nth-child(1){
  width: 100%;
  height: fit-content;
}


.project-menu{
display: flex;
justify-content: center;
  width: 100dvw;
    gap: 2vw;
  padding-bottom: 15%;
  padding-left: 0;
}

#animation-container{
  position: fixed;
top: 50dvh;
  }
  

.imagez{
  object-fit: cover;
  width: 100%;
  height: 80vw;
}


a.object-link{
  width: 100%;
  height: 100%;
}

.object-item{
width: 100dvw;
height: auto;
  position: relative;
}

.text{
  display: block;
  opacity: 1;
  width: 100%;
  font-size: 1.0em;
  width: 100dvw;
  height: 80vw;
  text-align: center;
  margin-top: 0;
}


.captionunder{
  font-size: 0.8em;
}

/*RUMPANBAR MOBILE*/

body.rumpanbar > main:nth-child(2){
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: auto; /* each new row is at least auto tall*/
}

div.title-item:nth-child(1) > h1:nth-child(1){
  font-size: 2em;
  width: 100vw;
  height: auto;
}

.casetitle > p:nth-child(2){
  font-size: 0.9em;
  width: auto;
  grid-row: 4;
  height: auto;
  grid-column: 3/24;
}

body.rumpanbar .casetitle{
grid-row: auto;
padding-bottom: 5%;
height: auto;
padding-top: 20dvh;
}

body.rumpanbar .casemiddle{
grid-row: auto;
grid-template-rows: repeat(5, auto);
height: auto;
padding-bottom: 5%;
}

body.rumpanbar .casefinal{
grid-row: auto;
grid-template-rows:  auto 1fr;
}

div.middle-item:nth-child(1){ 

 height: auto;
 grid-column: 3/24;
 grid-row: 1/4;
}

.casemiddle div:nth-child(3){
  grid-row: 5;
  grid-column: 3/23;
}


div.middle-item:nth-child(1) > p:nth-child(2){
    font-size: 0.9em;
    font-family: arial;
  width: auto;
  height: auto;
  margin-top: 10%;
  line-height: 1.25em;
}

div.middle-item:nth-child(2) > p:nth-child(1){
    font-size: 0.9em;
    font-family: arial;
  width: auto;
  height: auto;
  margin-top: 10%;
  line-height: 1.25em;

}


div.middle-item:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
  float: right;        /* makes text wrap around image */
  margin: 0 2vw 2vw 0;   /* spacing around image */
  margin-left: 2vw;
  max-width: 60%;        /* keeps image smaller than container */
  height: auto;
  display: block;        /* ensures no weird inline gaps */
  margin-top: 10%;
}

div.middle-item:nth-child(2){
  grid-row: 6;
  margin-top: -5%;
  grid-column: 3/24;
  grid-row: auto;
}

div.middle-item:nth-child(2) > a:nth-child(1) > img:nth-child(1){
  grid-row: 7;
}



body.rumpanbar div.final-item:nth-child(1){
  grid-row: auto;
  grid-column: 3/24;
      font-size: 0.9em;
    font-family: arial;
  width: auto;
  height: auto;
  margin-top: 5%;
  line-height: 1.25em;
}


div.final-item:nth-child(1) > a:nth-child(2) > img:nth-child(1){
    float: left;        /* makes text wrap around image */
  margin: 0 2vw 2vw 0;   /* spacing around image */
  margin-left: 2vw;
  max-width: 90%;        /* keeps image smaller than container */
  height: auto;
  display: block;        /* ensures no weird inline gaps */
}

div.final-item:nth-child(2){
  grid-row: 8;
  grid-column: 5/24;
  padding-bottom: 10vw;
  display:block;

}

body.rumpanbar div.final-item:nth-child(1) > a:nth-child(2) > img:nth-child(1){
 max-width: 100%;
 margin-left: 0;
}


/*CRANK MODE MOBILE*/


body.crankmode .casetitle{
  padding-bottom: 10%;
 padding-top: 20dvh;
  grid-row: auto;
}

body.crankmode .casemiddle{
  padding-bottom: 10%;
  grid-template-rows: repeat(5, auto);
  grid-row: auto;
}

body.crankmode .casefinal{
  grid-row: auto;
  padding-bottom: 5%;
  width: 100dvw;
}


body.crankmode div.middle-item:nth-child(1){
  grid-column: 3/24;
  grid-template-rows: repeat(4, auto);
  grid-row: 1;
  height: auto;
  width: auto;
}
body.crankmode div.middle-item:nth-child(2){
  grid-column: 3/24;
  grid-row: auto;
}

body.crankmode div.middle-item:nth-child(3){
  grid-row: 3;
  padding-top: 5%;
  margin-top: 0;
  height: auto;
    font-family: arial;
  font-size: 0.9em;

}
div.middle-item:nth-child(2) > a:nth-child(2) > img:nth-child(1){
  width: auto;
  grid-row: auto;
  height: auto;
}
body.crankmode div.final-item:nth-child(1){
    font-family: arial;
  font-size: 0.9em;
  grid-column: 3/24;
max-width: 100%;
}


body.crankmode div.final-item:nth-child(2){
  display:block;
  grid-row: auto;
  grid-column: 6/20;
  max-width: 100%;
}




/*3D DESIGN MOBILE*/




body.threeddesign div.middle-item:nth-child(1){
  display: block;
  width: 100%;
  height:fit-content;
  color: black;
  font-family: arial;
  font-size: 0.9em;
  grid-column: 3/24;

}

body.threeddesign .casetitle{
  padding-top: 20dvh;
}
body.threeddesign .casemiddle{
  grid-template-rows: repeat(5, auto);
  height: auto;

}

body.threeddesign div.middle-item:nth-child(2){
  grid-row: 5/6;
  grid-column: 3/24;
  padding-top: 10%;
}

body.threeddesign div.middle-item:nth-child(3){
  grid-row: 6;
  padding-bottom: 10%;
  grid-column: 3/24;
}

body.threeddesign div.middle-item:nth-child(3) > a:nth-child(1) > img:nth-child(1){ 
  max-width: 100%;
}

body.threeddesign div.middle-item:nth-child(2) > a:nth-child(1) > img:nth-child(1){
  max-width: 100%;
}
body.threeddesign div.middle-item:nth-child(4) > a:nth-child(1) > img:nth-child(1){
  height: auto;
}

body.threeddesign div.middle-item:nth-child(1) > a:nth-child(1) > img:nth-child(1){
  max-width: 100%;
}

body.threeddesign .animationvideo{
  top: 0;
  right: 0;
  max-width: 100%;

}

body.threeddesign div.middle-item:nth-child(1) > a:nth-child(1) > img:nth-child(1){
  margin: 2vw 0vw 2vw 2vw;
}


/*MOTION DESIGN MOBILE*/
.video-gallery{
display: block;
width: 100dvw;
}

.video-menu{
  display: block;
  left: 0;
  list-style: none;
  width: fit-content;
 height:fit-content;
}

.video-object{
  width: 86dvw;
  height: 40dvh;
  padding-top: 10%;
}

.videos-item{
  width: 100vw;
  height: 100%;
}

body.motiondesign .casetitle{
  padding-top: 20dvh;
}

body.motiondesign .casemiddle div:nth-child(1){
  left:0;
}

body.motiondesign > .motiondesigny{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 columns */
  grid-auto-rows: minmax(200px, auto); /* each new row is at least 100px tall */
}

body.motiondesign div.title-item:nth-child(2){
  display: block;
  color: black;
  font-family: arial;
  grid-column: 3/24;
  grid-row: 4;
}

/*THESIS MOBILE*/

body.thesis .casetitle{
  padding-top: 20dvh;
}

body.thesis div.title-item:nth-child(1){
  grid-column: 3/24;
  width: 100%;
}
body.thesis div.title-item:nth-child(2){
  color: black;
  font-family: arial;
  grid-column: 3/24;
  grid-row: 4;
}

/*GRAPHIC DESIGN MOBILE*/

body.graphicdesign .casetitle{
  padding-top: 20dvh;
}
.image-menu{
  display: block;
  margin-left: 10%;
}

body.graphicdesign .middle-item img{
  height: auto;
  width: 70%;

}

.image-object{
  width:100%;
  padding-top: 10%;
}

/*ABOUT ME MOBILE*/



body.about .casemiddle{
  display: flex;
width: 100dvw;
height: auto;
}

.heyitsme{
  display: flex;
  width: fit-content;
  font-size: 2.5em;
  position: relative;
  top: -11dvh;
  left: 7dvw;


}

#aboutmeframe{
  display: flex;
width: 50%;
position: relative;
top: 20dvh;
left: -30dvw;
}

.aboutme{
  font-size: 0.9em;

}

.frameandtextcontainer{
  display: flex;
  width: fit-content;
  position: relative;

}

.frameandtextmenu{
  display: block;
}

body.about .casemiddle div:nth-child(1){ 
  display: block;
  width: 55dvw;
  left: 34dvw;
}

body.about .casemiddle div:nth-child(2){
  position: relative;

}

body.about .casemiddle div:nth-child(3){
  position:relative;
  top: -15dvh;
}

}